.App {
  max-width: 800px;
  margin: 200px auto;
  background-color: #141414;
  color: #ffffff;
  padding: 30px;
  border: 10px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: default;
}

.App .itd-header {
  font-weight: 200;
  margin-bottom: 60px;
}

.App .itd-input {
  width: 50%;
  background: inherit;
  border: none;
  border-bottom: 2px solid white;
  margin-right: 40px;
  color: darkorange;
  font-weight: 200;
  font-size: 24px;
  outline: none;
  text-align: center;
}

.App .itd-button {
  background: inherit;
  border: none;
  transition: all 200ms ease-in-out;
  padding: 5px 10px;
}

.App .itd-button:hover {
  border: 0.5px solid white;
  border-radius: 10px;
}

.App .itd-button i {
  color: white;
  font-size: 38px;
}
